body {
    font-family: 'Raleway', sans-serif;
	background-color: #fbf7f5;
}

.thickWhite {
	background-color: black;
	margin-bottom: 1000px;
}

.a {
	padding-top: 7px!important;
}

.f {
	margin-left: 85px;
}

.gap {
	padding-right: 80px;
}

.bar {
	color: white!important;
	font-size: 15px;
}

.themeImg {
    background-image: url("burger.jpg");
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	filter: brightness(90%);
}


.imgHeader {
	font-size: 50px;
	color: white;
	text-align: center;
	white-space: nowrap;
	padding-top: 350px;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
}

.logo {
	width: 50px;
	height: 50px;
}

.logo2 {
	width: 75px;
	height: 75px;
	margin-left: 520px;
	margin-bottom: 10px;
}

.item {
	padding-top: 20px;
	position: relative;
	border-bottom: 1px dashed #ecd4c0;
	margin-bottom: 20px;
	margin-right: 10px;
}

.itemPrice {
	position: absolute;
	left: 90%;
	top: 22%;
	font-size: 17px;
}

.itemName {
	font-size: 22px;
	padding-bottom: 15px;
}

.itemDes {
	font-size: 17px;
	color: #a5908d;
	padding-bottom: 15px;
}

.menuCategory {
	text-align: center;
	padding: 10px 0;
}

.space {
	padding-bottom: 50px;
}

.carousel-item {
	height: 1000px;
}

.row {
	width: 100%;
}

.lower-text {
    text-align: center;
    margin-top: 25px;
    margin-left: 18vw;
    margin-bottom: 25px;
    background-color: black;
    color: white;
}

.navbar.s {
    background-color: black!important;
}

.lightText {
	color: #939393;
}

.imgHeaderDes {
	font-size: 30px;
	color: white;
	text-align: center;
	white-space: nowrap;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
}

#about {
	margin-top: 450px;
}

#menu {
	padding-top: 70px;
}

.logo-img {
	display: none;
}

@media only screen and (max-width: 768px) {
	.logo {
		display:none;
	}
	
	.logo-img {
		display: block;
		margin: 70px auto 0px auto;
	}
	
	.row {
		margin-left:0;
	}
	
	.f {
		margin-left: 0;
	}
	
	.themeImg {
	    background-image: url("burger.jpg");
	    width:100%;
	    /*background-position: center;*/
	    /*background-repeat: no-repeat;*/
	    /*background-size: cover;*/
	    position: relative;
		filter: brightness(90%);
	}
	
	.imgHeader {
		font-size: 40px;
		color: white;
		text-align: center;
		white-space: normal;
		padding-top: 5px;
		text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.44);
	}
	
	.imgHeaderDes {
		font-size: 30px;
		color: white;
		text-align: center;
		white-space: normal;
		text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.44);
	}
	
	.lightText {
		text-align: center;
	}
	
	.about-head {
		text-align:center;
	}
	
	.carousel-item {
		height: 100%;
	}
	
	.map {
		margin-bottom: 15px;
	}
	
	.lower-text {
	    text-align: center;
	    margin-top: 25px;
	    margin-left:0;
	    margin-bottom: 25px;
	    background-color: black;
	    color: white;
	}
}

@media only screen and (max-width: 991px) {
	.logo {
		display:none;
	}
	
	.f {
		margin-left: 0;
	}
}